// ======================================
//  grid Styles
// ======================================
  img{
      height: 50%;
      padding-top: 5%;
      margin-right: 10px;
  }
  .elemntimgs{
    margin-left: 5%;
    max-width: 500px;
  }