// ======================================
//  grid Styles
// ======================================
  img{
      height: 50%;
     
      margin-right: 10px;
  }
  .elemntimgs{
    width: 100%;
  }

  .elementimgswithout{
    margin-top: 5%;
    width: 100%;
  }
  