// ==========================================================
// image styles 
// ===========================================================
#svgMedium {
    display: none;
    svg{

        width: 100%;
        height: 100vh;
    }
    margin-left: 15%;
    @media (min-width: 768px) { 
        margin-left: 25%;
    }
}
#svgSmall{
    margin-left: 10%;
    @media (min-width: 350px) { 
       margin-left: 20%;
    }
}

svg{
    transform-origin: center center;
}

svg:hover{
transform: rotate(360deg);
transition: transform 1s ease-in;
}